$btn-color: #fff;
$btn-hover-color: #eee;
$btn-active-color: #ddd;

.field-section {
  .fields-header {
    display: flex;
  }

  .user-fields {
    form {
      display: grid;
      grid-template-columns: min-content repeat(2, auto) max-content;

      .cb {
        margin: 2px 2px 0 0;
      }

      .field {
        padding: 3px 5px;
        margin: 2px;
      }


      button {
        margin: 1px;
        border-radius: 0;
        cursor: pointer;
      }

      button {
        background-color: $btn-color;
        border: 1px solid #d2d2d2;
        font-size: 1em;
        transition: background-color .15s;

        &:hover {
          text-decoration: underline;
          background-color: $btn-hover-color;
        }

        &:active {
          background-color: $btn-active-color;
        }

        &:disabled {
          box-shadow: none;
          text-decoration: none;
          cursor: default;
        }
      }
    }
  }

  .fields {
    display: grid;
    grid-template-columns: min-content repeat(2, max-content) auto;
    width: auto;
    max-width: 700px;
    margin: 16px auto 16px 0;

    .title {
      border-bottom: 1px solid #666666;
    }

    .title-text {
      margin: 2px;
      text-align: center;
    }

    .cb {
      margin: 2px 2px 0 0;
    }

    .field {
      padding: 3px 5px;
      margin: 2px;
    }

    .id {
      font-family: Consolas;
    }
  }

  .deletable {
    grid-template-columns: min-content repeat(2, max-content) auto min-content;

    .delete-icon {
    }

    .delete-btn {
    }
  }
}
