<div class="section-container">
    <section class="images-section">
        <div class="images-header">
            <h2>Images</h2>
            <button (click)="onImagesReset()">Reset</button>
        </div>
        <h3>Image Selection</h3>
        <input type="file" id="file-selector" accept="image/*" (change)="onFileSelected($event)" multiple />
        <div class="selected-files">
            <div id="imageList" class="image-preview" *ngFor="let image of allFiles; let i = index">
                <input type="checkbox" [id]="i" [checked]="image.selected" (change)="onImageChecked($event.target.id)" />
                <label [for]="i">
                    <img class="preview" [src]="image?.previewImage" [alt]="image?.file.name" />
                </label>
            </div>
        </div>
    </section>
    <app-field-settings (fieldChanged)="refreshParsing($event)"></app-field-settings>
    <section class="output-section">
        <div class="output-header">
            <h2>Output</h2>
            <button (click)="onSaveFile()">Save</button>
            <app-open-json-file class="open-btn"></app-open-json-file>
        </div>
        <h3>Output Editor</h3>
        <ace-editor class="output-editor" [(text)]="code" mode="json"></ace-editor>
        <h3>Json Viewer</h3>
        <ngx-json-viewer class="json-viewer" [json]="jsonOutput" ></ngx-json-viewer>
    </section>


</div>
