.fields {
    display: grid;
    grid-template-columns: min-content repeat(2, max-content) auto;
    width: auto;
    max-width: 700px;
    margin: 16px auto 16px 0;

    .title {
        border-bottom: 1px solid #666666;
    }

    .title-text {
        margin: 2px;
        text-align: center;
    }

    .cb {
        margin: 5px 5px 0 0;
    }

    .field {
        padding: 3px 10px;
    }
}

.output {
    display: flex;
    flex-direction: column;
}
