.fields {
    display: grid;
    grid-template-columns: min-content repeat(2, 1fr);
    width: 500px;
    margin: 0 auto;
    .cb {
        margin: 5px 5px 0 0;
    }
    .field {
    //border-bottom: 1px solid #e1e1e1;
    padding: 3px 10px;
    }
}

.output {
    display: flex;
    flex-direction: column;
}