<section class="images-section">
    <div class="section-header images-header">
        <h2>Images</h2>
        <button class="addmore-btn" *ngIf="filesSelected" (click)="onOpenFileDialog(true)">Add More</button>
        <button class="select-btn" (click)="onOpenFileDialog(false)">{{filesSelected ? 'Reselect' : 'Select'}}</button>
        <button class="reset-btn" (click)="onImagesReset()">Reset</button>
        <input class="browse-input" id="file-selector" #ImageSelectInputDialog type="file" accept="image/*" (change)="onFileSelected($event)" multiple />
    </div>
    <h3>Image Selection</h3>
    <div class="image-files selected-files" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
        <ng-container *ngIf="allFiles.length === 0">
            <div id="defaultImages" class="default-image" *ngFor="let image of defaultImages; let i = index">
                <input type="checkbox" [id]="i" [checked]="false" />
                <label [for]="i">
                    <img class="preview" [src]="image?.imagePreview" [alt]="image?.fileName" />
                </label>
            </div>
        </ng-container>
        <div id="imageList" class="image-preview" *ngFor="let image of allFiles; let i = index" [attr.image-name]="image ? image?.file.name : 'Loading...'">
            <input type="checkbox" [id]="i" [checked]="image.selected" (change)="onImageChecked($event.target.id)" />
            <label [for]="i">
                <img class="preview" [src]="image?.previewImage" [alt]="image?.file.name" />
            </label>
            <p>{{image?.file.name}}</p>
        </div>
        <div id="addMore" class="addmore-image">
            <button id="addmoreImage" (click)="onOpenFileDialog(true)">Add More</button>
            <label for="addmoreImage">
                <img class="preview" src="assets/images/image_default.svg" alt="Add images" />
            </label>
        </div>
    </div>
    <h3 *ngIf="importedFiles.length > 0">From JSON</h3>
    <div class="image-files imported-files" *ngIf="importedFiles.length > 0">
        <div id="importedImageList" class="image-preview" *ngFor="let importedImage of importedFiles; let i = index" [attr.image-name]="importedImage ? importedImage?.file.name : 'Loading...'">
            <input type="checkbox" [id]="i" [checked]="importedImage.selected" (change)="onImportedImageChecked($event.target.id)" />
            <label [for]="i">
                <img class="preview" [src]="importedImage?.previewImage" [alt]="importedImage?.file.name" />
            </label>
            <p>{{importedImage?.file.name}}</p>
        </div>
    </div>

</section>
