@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

$btn-color: #fff;
$btn-hover-color: #eee;
$btn-active-color: #ddd;

body {
  font-family: sans-serif;
  margin: 0;
  color: #666;
}

a {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #666666;

  &:hover {
    text-decoration: underline solid;
  }
}

.app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // adds style to next element after router-outlet
  router-outlet + * {
    flex: 1 0 auto;
    margin: auto;
  }

  .header {
    flex-shrink: 0;
    position: relative;
    top: 0;
    width: 99.5%;
    margin: 0 auto;
  }

  .footer {
    flex-shrink: 0;
    position: relative;
    bottom: 0;
    width: 98%;
    margin: 0 auto;
  }
}

.container-section {
  margin: 0 10px auto;
  min-width: 397px;
  padding: 0 12px 10px 12px;
  border: 1px solid #d2d2d2;
  border-left: none;
  border-bottom: none;
  border-radius: 0 40px 0 0;
  box-shadow: 6px 9px 20px -6px rgba(0,0,0,0.7);
}

.section-header {
  border-bottom: 1px solid #d2d2d2;

  h2 {
    margin-bottom: 5px;
    margin-right: auto;
  }

  button {
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 0 30px 0 0;
    padding-right: 15px;
    cursor: pointer;
  }

  button {
    background-color: $btn-color;
    border: 1px solid #d2d2d2;
    font-size: 1em;
    transition: background-color .15s;

    &:hover {
      text-decoration: underline;
      background-color: $btn-hover-color;
    }

    &:active {
      background-color: $btn-active-color;
    }

    &:disabled {
      box-shadow: none;
      text-decoration: none;
      cursor: default;
    }
  }
}
