/* You can add global styles to this file, and also import other style files */
$btn-color: #fff;
$btn-hover-color: #eee;
$btn-active-color: #ddd;

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

.app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  // adds style to next element after router-outlet
  router-outlet + * {
    flex: 1 0 auto;
  }

  .footer {
    flex-shrink: 0;
    position: relative;
    bottom: 0;
    width: 98%;
    margin: 0 auto;
  }
}

.container-section {
  margin: 0 auto auto;
  min-width: 397px;
  max-width: 550px;
  padding: 0 12px 10px 12px;
  border: 1px solid #d2d2d2;
  border-left: none;
  border-bottom: none;
  border-radius: 0 40px 0 0;
}

.section-header {
  border-bottom: 1px solid #d2d2d2;

  h2 {
    margin-bottom: 5px;
    margin-right: auto;
  }

  button {
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 0 30px 0 0;
    padding-right: 15px;
    cursor: pointer;
  }

  button {
    background-color: $btn-color;
    border: 1px solid #d2d2d2;
    font-size: 1em;
    transition: background-color .15s;

    &:hover {
      text-decoration: underline;
      background-color: $btn-hover-color;
    }

    &:active {
      background-color: $btn-active-color;
    }

    &:disabled {
      box-shadow: none;
      text-decoration: none;
      cursor: default;
    }
  }
}
